// Màu sắc
$colors: (
  primary: #3498db,
  secondary: #2ecc71,
  danger: #e74c3c,
  light: #f4f4f4,
  dark: #2c3e50
);

// Font sizes
$font-sizes: (
  small: 12px,
  medium: 16px,
  large: 24px,
  extra-large: 32px
);

$background-color:( #f4f4f4 );
$primary-color: #3498db;
$secondary-color: #2ecc71;
$text-color: #333;

// Sử dụng
@function color($name) {
  @return map-get($colors, $name);
}

@function font-size($name) {
  @return map-get($font-sizes, $name);
}

