<p-table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
      <td>ádas</td>
    </tr>
  </tbody>
</p-table>